/* 
Identidade visual

Cor principal: #333333 (Cinza escuro)
Uso: Esta cor pode ser utilizada para o cabeçalho do site, títulos e elementos de destaque. Ela proporciona uma sensação de solidez e sofisticação.

Cor secundária: #CCCCCC (Cinza claro)
Uso: Essa cor pode ser usada para o corpo do site, textos principais e outros elementos de conteúdo. Ela transmite uma sensação de serenidade e equilíbrio.

Cor de destaque: #FF9900 (Laranja)
Uso: Essa cor pode ser usada para chamar a atenção para elementos específicos, como botões de ação, links importantes ou destaques especiais. O laranja traz uma sensação de energia e entusiasmo.

Cor de fundo: #FFFFFF (Branco)
Uso: Essa cor é ideal para o fundo do site, proporcionando uma aparência limpa e arejada. O branco ajuda a destacar o conteúdo e torna a leitura mais fácil.

*/

body{
  background-color: darkgray;
  color: whitesmoke;
}

.navbar{
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 35px;
}

.body-content{
  padding: 25px;
  margin-top: 15px;
  background-color: #212529;
}

