.first-position {
    color: #FFD700;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.second-position {
    font-size: 20px;
    color: #C0C0C0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.third-position {
    color: #CD7F32;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}